doctype html 
html(lang='en')
    head 
        title Assignment List 
        style 
            include style.css 
    body 
        h1 Assignments
        table
            thead 
                tr
                    th Course 
                    th Type 
                    th Assignment 
                    th Date 
                    th Time 
                    th Completed
            tbody 
                #{tdata}
                
