doctype html 
html(lang='en')
    head 
        title Assignment List 
        style 
            include style.css 
    body 
        h1 Assignments
        table 
            thead 
                tr  
                    td(class="listhead") Class 
                    td(class="listhead") Assignment
                    td(class="listhead") Type
                    td(class="listhead") Date 
                    td(class="listhead") Time 
                    td(class="listhead") Completed
            tbody 
                
