html {
    text-align: center;
    background-color: black;
    color: slategray;
    font-size: 36px;
    font-family:'Times New Roman', Times, serif;
}

input.new {
    background-color: darkcyan;
    color: black;
    margin: 10px;
    padding: 2px;
    border-color: black;
    text-align: center;
    font-size: 24px;
    border-radius: 10px;
}

input.newbutton {
    background-color: slategray;
    color: black;
    padding: 10px;
    font-size: 32px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}

.button {
    background-color: slategray;
    color: black;
    padding: 15px;
    font-size: 36px;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
}

::placeholder {
    color: black;
    font-size: 24px;
}

table {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 96%;
    margin-left: 2%;
    font-size: 18px;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(odd) {
    background-color: darkcyan;
  }
  tr:nth-child(even) {
    background-color: cyan;
  }